
body{
    background: url("./image/backtoy1.jpg"); 
    background-size:cover;

}

#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

#form-login{
    max-width: 400px;
    background: rgba(0, 0, 0, 0.75);
    flex-grow: 1;
    padding: 80px 30px 50px;
    box-shadow:0px 0px 17px 2px  rgba(219, 30, 30, 0.5);
}

h1{
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;

}
.form-group{
    border-bottom: 1px solid #fff;
    margin-top: 15;
    margin-bottom: 25px;
    display: flex;

}

.form-group i{
    color: #f5f5f5;
    font-size: 16px;
}

.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: #f5f5f5;
    flex-grow: 1;


}

.form-input::placeholder{
    color: #f5f5f5;

}

.form-submid{
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    width:100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25 ease-in-out;
    margin-top: 30px;


}

.form-submid:hover{
    border: 1px solid greenyellow;
}